.dasBoardProject {
  background: #0e17c7;
  height: 74px;
  display: flex;
  align-items: center;
}
.topProject {
  /* margin-left: 40px; */
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.projectTitle {
  background: #0e17c7;
  height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 4vh;
}

.row .FirstColumnInDashBoard {
  background: blue;
  font-family: Roboto;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.32;
  letter-spacing: normal;
  text-align: left;
  border-top: solid 1px  #707070;
  border-bottom: 0px;
  background-color: #f2f2f2;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
}
.row .mainterDashBoard {
  border: solid 1px #707070;
  padding-top: 6vh;
  padding-left: 4vw;
}
.buttonDashBoard {
  margin-bottom: 5vh;
  margin-top: 3vh;
}
.thead-project{
  background-color: #f1b0b0;
}

.tbody-name{
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #0062ff;
}
.tbody-start {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.tbody-finishDate{
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.FirstColumnInDashBoard .linkToProject{
  color: blue;
}