.hihi th{
  vertical-align: top !important;
  text-align: center;
}
.textinSalary{
  font-size: 2em;
}
.maintainEmployee .main-header{
  margin-bottom: 2em;
}
.exportfile{
  font-size: 2em !important;
}
