.maintainEmployee .boldInSpanOt-Ots {
  font-weight: bold;
}
.maintainEmployee .inHeadOfCollapse {
  font-size: 2em;
  margin: 1em 0 1em 0;
}
.searchDivOTS-OT .ant-space-Fromto {
  margin-left: 1em;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.searchDivOTS-OT {
  font-size: 2em;
}
.searchDivOTS-OT .searchDivOTS-OT {
  font-size: 2em;
}
