/* Employees CSS */

.dasBoardProject {
  background: #0e17c7;
  height: 74px;
  display: flex;
  align-items: center;
}
.topProject .hiSoftText {
  /* margin-left: 40px; */
  /* font-family: "Fjalla One", sans-serif; */
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.test {
  position: fixed;
  list-style-type: none;
}
.dashBoardTitle {
  background: #0e17c7;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}
#root ._logOut{
  font-size: 0.5em;
}
.row .FirstColumnInDashBoard {
  background-color: white;
  /* font-family: "Fjalla One", sans-serif; */
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.32;
  letter-spacing: normal;
  text-align: left;
  border-top: solid 1px #707070;
  border-bottom: 0px;
  background-color: #f2f2f2;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row .mainterDashBoard {
  border: solid 1px #707070;
  padding-top: 6vh;
  padding-left: 4vw;
  background-color: white;
  display: flex;
}
.mainterDashBoard .buttonDashBoard {
  margin-bottom: 5vh;
  margin-top: 3vh;
  font-size: 3rem;
}
.FirstColumnInDashBoard .link-dashboard {
  color: blue;
}
.edit-Employee {
  margin-right: 10px;
}
.row-header {
  font-size: 20px;
}

.row-header ._button-edit {
  margin-right: 2em;
  font-size: 1em;
}
.row-header ._button-delete {
  font-size: 25px;
}
.input-group .input-search {
  padding: 2rem;
  font-size: 1.5rem;
}
.input-group .button-search {
  width: 7rem;
}
.Rectangle-22 {
  width: 41em;
  height: 216px;
  margin: 46px 69px 432px 60px;
  border-radius: 10px;
  border: solid 1px #707070;
  background-color: #edeef0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-people-carry{
  font-size: 12em;
  padding-right: 0.5em;
}
/* Tablet */
@media only screen and (max-width: 1012px) {
  .row .FirstColumnInDashBoard {
    display: none;
  }
}
@media only screen and (min-width: 1020px) {
  .row .FirstColumnInDashBoard {
    display: flex;
  }
}
